@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  bottom: 0px;
  font-weight: 300;
}
body {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #e74c3c;
  font-weight: 300;
  background:#ecf0f1;
  overflow: hidden;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #53e3a6;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #53e3a6;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #53e3a6;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #53e3a6;
  font-weight: 300;
}
.buttonSave {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #27ae60;
  border-radius: 3px;
  width: 250px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.buttonSave:hover {
  background-color: #f5f7f9;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #8e44ad;
  border-radius: 3px;
  width: 250px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
button:hover {
  background-color: #f5f7f9;
}
